<div class="container sizes">
  <div class="row">
    <div class="twelve-columns">
      <h3>Size Guide</h3>
      <hr class="hr--medium">
      <h1>Ready to Wear</h1>
    </div>
  </div>

  <div class="row row--no-padding">
    <div class="three-columns">
      <h3>UK Size</h3>
    </div>
    <div class="three-columns almost-center">
      <h3>Bust</h3>
    </div>
    <div class="three-columns almost-center">
      <h3>Waist</h3>
    </div>
    <div class="three-columns almost-center">
      <h3>Hips</h3>
    </div>
  </div>

  <div class="row row--no-padding">
    <div class="one-point-five-column offset-three"><h5>Inches</h5></div>
    <div class="one-point-five-column"><h5>CM</h5></div>
    <div class="one-point-five-column"><h5>Inches</h5></div>
    <div class="one-point-five-column"><h5>CM</h5></div>
    <div class="one-point-five-column"><h5>Inches</h5></div>
    <div class="one-point-five-column"><h5>CM</h5></div>
  </div>

  <div class="row row--no-padding">
    <div class="one-point-five-column ">6</div>
    <div class="one-point-five-column">XXS</div>
    <div class="one-point-five-column">32</div>
    <div class="one-point-five-column">81</div>
    <div class="one-point-five-column">25.5</div>
    <div class="one-point-five-column">65</div>
    <div class="one-point-five-column">35.5</div>
    <div class="one-point-five-column">90</div>
  </div>

  <div class="row row--no-padding">
    <div class="one-point-five-column ">8</div>
    <div class="one-point-five-column">XS</div>
    <div class="one-point-five-column">33</div>
    <div class="one-point-five-column">84</div>
    <div class="one-point-five-column">26.5</div>
    <div class="one-point-five-column">67</div>
    <div class="one-point-five-column">36.5</div>
    <div class="one-point-five-column">93</div>
  </div>

  <div class="row row--no-padding">
    <div class="one-point-five-column ">10</div>
    <div class="one-point-five-column">S</div>
    <div class="one-point-five-column">34</div>
    <div class="one-point-five-column">86</div>
    <div class="one-point-five-column">27.5</div>
    <div class="one-point-five-column">70</div>
    <div class="one-point-five-column">37.5</div>
    <div class="one-point-five-column">95</div>
  </div>

  <div class="row row--no-padding">
    <div class="one-point-five-column ">12</div>
    <div class="one-point-five-column">M</div>
    <div class="one-point-five-column">36</div>
    <div class="one-point-five-column">91</div>
    <div class="one-point-five-column">29.5</div>
    <div class="one-point-five-column">75</div>
    <div class="one-point-five-column">39.5</div>
    <div class="one-point-five-column">100</div>
  </div>

  <div class="row row--no-padding">
    <div class="one-point-five-column ">14</div>
    <div class="one-point-five-column">L</div>
    <div class="one-point-five-column">38</div>
    <div class="one-point-five-column">96</div>
    <div class="one-point-five-column">31.5</div>
    <div class="one-point-five-column">80</div>
    <div class="one-point-five-column">41.5</div>
    <div class="one-point-five-column">105</div>
  </div>

  <div class="row">
    <div class="twelve-columns">
      <hr class="hr--medium">
      <h1>International Sizes</h1>
    </div>
  </div>

  <div class="row row--no-padding">
    <div class="two-columns ">
      <h3>Size</h3>
    </div>
    <div class="one-point-five-column">XXS</div>
    <div class="one-point-five-column">XS</div>
    <div class="one-point-five-column">S</div>
    <div class="one-point-five-column">M</div>
    <div class="one-point-five-column">L</div>
  </div>

  <div class="row row--no-padding">
    <div class="two-columns ">
      <h3>UK</h3>
    </div>
    <div class="one-point-five-column">6</div>
    <div class="one-point-five-column">8</div>
    <div class="one-point-five-column">10</div>
    <div class="one-point-five-column">12</div>
    <div class="one-point-five-column">14</div>
  </div>

  <div class="row row--no-padding">
    <div class="two-columns ">
      <h3>US</h3>
    </div>
    <div class="one-point-five-column">0-2</div>
    <div class="one-point-five-column">4</div>
    <div class="one-point-five-column">6</div>
    <div class="one-point-five-column">8</div>
    <div class="one-point-five-column">10</div>
  </div>

  <div class="row row--no-padding">
    <div class="two-columns ">
      <h3>Europe/Italy</h3>
    </div>
    <div class="one-point-five-column">38</div>
    <div class="one-point-five-column">40</div>
    <div class="one-point-five-column">42</div>
    <div class="one-point-five-column">44</div>
    <div class="one-point-five-column">46</div>
  </div>

  <div class="row row--no-padding">
    <div class="two-columns ">
      <h3>France</h3>
    </div>
    <div class="one-point-five-column">34</div>
    <div class="one-point-five-column">36</div>
    <div class="one-point-five-column">38</div>
    <div class="one-point-five-column">40</div>
    <div class="one-point-five-column">42</div>
  </div>

  <div class="row row--no-padding">
    <div class="two-columns ">
      <h3>Japan</h3>
    </div>
    <div class="one-point-five-column">5</div>
    <div class="one-point-five-column">7</div>
    <div class="one-point-five-column">9</div>
    <div class="one-point-five-column">11</div>
    <div class="one-point-five-column">13</div>
  </div>

</div>
